@font-face {
	font-family: Comfortaa;
	src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	font-family: Comfortaa, Helvetica, sans-serif;
}
body {
	height: 100vh;
	width: 100vw;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(rgba(0, 0, 0, 0.35)), to(grey));
	background-image: -webkit-linear-gradient(white, rgba(0, 0, 0, 0.35), grey);
	background-image: -o-linear-gradient(white, rgba(0, 0, 0, 0.35), grey);
	background-image: linear-gradient(white, rgba(0, 0, 0, 0.35), grey);
	background-attachment: fixed;
	background-repeat: no-repeat;

}
/*Сетка-----------------------------------------------------------------------------------*/

.grid-container {
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-grid-columns: 1fr 20rem;
	    grid-template-columns: 1fr 20rem;
	-ms-grid-rows: 6rem 4rem 1fr 4rem;
	    grid-template-rows: 6rem 4rem 1fr 4rem;
	max-height: 100vh;
	max-width: 100vw;
	min-width: 320px;
	    grid-template-areas: "header header" 
	    					"menu menu" 
	    					"content sub" 
	    					"footer buttons";
}
/*Шапка-----------------------------------------------------------------------------------*/

header {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: header;
	position: relative;
}
.logo {
	position: absolute;
	top: .5rem;
	left: .5rem;
}
.contacts_header {
	position: absolute;
	top: .5rem;
	right: 3rem;
}
h1, h2, h3 {
	text-align: center;
	margin: 15px;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
	color: white;
	text-shadow: .1em .1em .2em black;
}
h4 {
	font-size: 1rem
}
p {
	font-size: 1.2rem;
}
span {
	font-size: 1rem;
}
.italic {
	font-size: 1rem;
	font-style: italic;
	padding: .4rem;
}
/*Меню------------------------------------------------------------------------------------*/

.menu {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: menu;
}
.flex-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style-type: none;
}
a.menu-buttons {
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	outline: none;
	color: white;
	text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
	padding: .5em 1em;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(110, 112, 120)), to(rgb(81, 81, 86))) rgb(110, 112, 120);
	background: -webkit-linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
	background: -o-linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
	background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
	        box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
	/*transition: .2s ease-in-out;*/
}
a.menu-buttons:hover:not(:active) {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(126, 126, 134)), to(rgb(70, 71, 76))) rgb(126, 126, 134);
	background: -webkit-linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
	background: -o-linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
	background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}
a.menu-buttons:active {
	top: 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(76, 77, 82)), to(rgb(56, 57, 62))) rgb(76, 77, 82);
	background: -webkit-linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
	background: -o-linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
	background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
	        box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
}
.hide_menu {
	visibility: visible;
}
/*-Кнопка мобильного меню-----------------------------------------------------*/

.hide_mobile_menu {
	visibility: hidden;
	position: absolute;
	right: 2rem;
	bottom: .5rem;
	height: 3rem;
	width: 10rem;
}
.menu_container {
	max-width: 10rem;
	margin: 0 auto;
}
.menu_header {
	height: 3rem;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 112, 120, 0.65)), to(rgba(81, 81, 86, 0.65))) rgba(110, 112, 120, 0.65);
	background: -webkit-linear-gradient(rgba(110, 112, 120, 0.65), rgba(81, 81, 86, 0.65)) rgba(110, 112, 120, 0.65);
	background: -o-linear-gradient(rgba(110, 112, 120, 0.65), rgba(81, 81, 86, 0.65)) rgba(110, 112, 120, 0.65);
	background: linear-gradient(rgba(110, 112, 120, 0.65), rgba(81, 81, 86, 0.65)) rgba(110, 112, 120, 0.65);
	border-radius: 3px;
	position: relative;
}
.nav {
	width: 100%;
	-webkit-box-shadow: inset 0 5px DarkGrey;
	        box-shadow: inset 0 5px DarkGrey;
	border-radius: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	display: none;
}
.menu-button {
	display: block;
	height: 3rem;
	font-weight: bold;
	color: #fff;
	font-size: .8rem;
	line-height: 3rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 112, 120, 0.65)), to(rgba(81, 81, 86, 0.65))) rgba(110, 112, 120, 0.65);
	background: -webkit-linear-gradient(rgba(110, 112, 120, 0.65), rgba(81, 81, 86, 0.65)) rgba(110, 112, 120, 0.65);
	background: -o-linear-gradient(rgba(110, 112, 120, 0.65), rgba(81, 81, 86, 0.65)) rgba(110, 112, 120, 0.65);
	background: linear-gradient(rgba(110, 112, 120, 0.65), rgba(81, 81, 86, 0.65)) rgba(110, 112, 120, 0.65);
	-webkit-transition: background-color 0.1s linear, color 0.1s linear;
	-o-transition: background-color 0.1s linear, color 0.1s linear;
	transition: background-color 0.1s linear, color 0.1s linear;
}
.menu-button:not(:first-of-type) {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-button:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu-button:last-of-type {
	-webkit-box-shadow: inset 0 -5px 10px -5px rgba(0, 0, 0, 0.4);
	        box-shadow: inset 0 -5px 10px -5px rgba(0, 0, 0, 0.4);
}
.menu-button:hover {
	background-color: DarkGrey;
}
.menu-button:active {
	background-color: Silver;
	color: #fff;
}
.nav-burger {
	display: block;
	width: 25px;
	height: 23px;
	cursor: pointer;
	color: transparent;
	font-size: 0;
	background: url("../img/icon-menu.svg") no-repeat;
	position: absolute;
	top: 16px;
	right: 20px;
	z-index: 1;
}
.nav-burger__checkbox {
	display: none;
}
.nav-burger__checkbox:checked+.nav-burger {
	background-image: url("../img/icon-cross.svg");
}
.nav-burger__checkbox:checked~.nav {
	display: block;
}
/*Эмуляция кнопок соц.сетей --------------------------------------------------------------*/

.buttons {
	-ms-grid-row: 4;
	-ms-grid-column: 2;
	grid-area: buttons;
	padding-top: 1rem;
	padding-left: 1rem;
	width: 18rem;
}
.size {
	max-width: 18rem;
}
.hover:hover {
	cursor: pointer;
}
/*Окно контента---------------------------------------------------------------------------*/

.content {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: content;
	height: auto;
}
.content_img {
	border: 1px solid transparent;
	background-image: url(../img/5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 100%;
}
.border {
	margin: 2rem 1rem;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}
/*Услуги--------------------------------------------------------------------------------*/

.services {
	list-style-type: square;
	text-align: left;
	padding: 10px auto;
	font-size: 1em;
	margin-left: 40px;
}
ul {
	list-style-type: square;
}
li {
	font-size: 1.1rem
}
/*Gallery--------------------------------------------------------------------------------*/

.gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/*padding: 5px;*/
}
.photo {
	width: 380px;
	margin: 3px 5px;
	border: 1px solid white;
	-webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
	        box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
}
/*price-list -----------------------------------------------------------------------------*/

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 90%;
}
.name {
	text-align: center;
}
th {
	border-bottom: 3px solid Grey;
	padding: 2px;
	text-align: left;
}
td {
	padding: 2px;
	text-align: left;
}
tr:nth-child(odd) {
	background: white;
}
tr:nth-child(even) {
	background: Silver;
}
.content span {
	text-align: justify;
	margin: 0 auto;
	max-width: 90%;
}
/*Форма заявки----------------------------------------------------------------------------*/

.sub {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
	grid-area: sub;
	padding: 10px;
	width: 100%;
	min-width: 40%;
	-webkit-box-shadow: inset 0px 0px 151px -1px rgba(0, 0, 0, 0.5);
	        box-shadow: inset 0px 0px 151px -1px rgba(0, 0, 0, 0.5);
	
}
.submit {
	padding: 10px;
	max-width: 90%;
	min-width: 80%;
	-webkit-box-shadow: inset 0px 0px 151px -1px rgba(0, 0, 0, 0.5);
	        box-shadow: inset 0px 0px 151px -1px rgba(0, 0, 0, 0.5);
	margin: 0 auto;
}
.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}
.sub input {
	width: 100%;
	min-width: 15%;
	margin: 5px 10px;
}
.sub input[type="text"], .sub input[type="email"], .sub input[type="submit"] {
	font-weight: 700;
	padding: 10px 20px;
	cursor: pointer;
}
.sub input[type="submit"] {
	font-weight: 700;
	cursor: pointer;
}
/*Подвал-----------------------------------------------------------------------------------*/

footer {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
	grid-area: footer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	
}
.contacts {
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-align: left;
	
}
.hide {
	visibility: visible;
	text-align: right;
	position: absolute;
	top: 1rem;
	right: 1rem;
	
}
span, .br {
	display: block;
}
.br {
	text-align: left;
	font-size: 1rem;
}
/*Переопределение настроек----------------------------------------------------------------*/

/*------------------------1370px-----------------------------------------------------------*/

@media screen and (max-width:1370px) {
	.hide {
		visibility: hidden;
	}
}
/*------------------------1100px-----------------------------------------------------------*/
@media screen and (max-width:1100px) {
	.grid-container {
		-ms-grid-columns: 1fr 20rem;
		    grid-template-columns: 1fr 20rem;
		-ms-grid-rows: 6rem 10px minmax(1fr, 50rem) 8rem;
		    grid-template-rows: 6rem 10px minmax(1fr, 50rem) 8rem;
		    grid-template-areas: "header header"
		    					"menu menu" 
		    					"content sub" 
		    					"footer buttons";
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	.italic {
		font-size: .7rem;
	}
	.hide {
		visibility: hidden;
	}
	.hide_menu {
		visibility: hidden;
	}
	.hide_mobile_menu {
		visibility: visible;
	}
	.contacts {
		top: 1rem;
		left: 1rem;
	
	}
}
/*------------------------750px-----------------------------------------------------------*/
@media screen and (max-width:750px) {
	.grid-container {
		-ms-grid-columns: 1fr;
		    grid-template-columns: 1fr;
		-ms-grid-rows: 10rem 1rem 3fr 1fr 8rem 2rem;
		    grid-template-rows: 10rem 1rem 3fr 1fr 8rem 2rem;
		    grid-template-areas: "header" 
		    					"menu" 
		    					"content" 
		    					"sub" 
		    					"footer" 
		    					"buttons";
	}
	.contacts_header {
		position: absolute;
		top: 5rem;
		left: .5rem;
	}
	.hide_mobile_menu {
		right: .3rem;
		top: .5rem;
	}
}
/*------------------------380px-----------------------------------------------------------*/
@media screen and (max-width:380px) {
	.grid-container {
		-ms-grid-rows: 14rem 1rem 3fr 1fr 8rem 2rem;
		grid-template-rows: 14rem 1rem 3fr 1fr 8rem 2rem;
		padding: 1rem;
	}
	.hide_mobile_menu {
		left: .5rem;
		top: 12rem;
	}

}
/*------------------------320px-----------------------------------------------------------*/
@media screen and (max-width:320px) {

	.photo {
	width: 280px;
	height: auto;
	}

}