@font-face {font-family: Barlow-Bold; src: url(../fonts/Barlow-Bold.ttf);}
@font-face {font-family: Barlow-Regular; src: url(../fonts/Barlow-Regular.ttf);}
@font-face {font-family: Oswald-Regular; src: url(../fonts/Oswald-Regular.ttf);}

html, body{
	width: 100%;
	height: 100%;
	margin: auto;
}

body{
	margin: 0;
	padding: 0;
 }

menu {
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
    box-sizing: border-box;
}

.picture_contain {
	background-repeat: no-repeat;
	background-position: center center;   
	background-size: contain;
}

.picture_cover {
	background-repeat: no-repeat;
	background-position: center center;   
	background-size: cover;
}

.clear {
	clear: both;
}

.border {
	border: 1px solid gray;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	display: inline-block;
	vertical-align: middle;
}