/*****************************************
MENU*************************************/
.container_menu {
	width: 100%;
	height: 80px;
	background: white;
	position: fixed;
	top: 0px;
	padding: 0px 170px 0px 120px;
	border-bottom: 8px solid #DC143C;
	vertical-align: center;	
	z-index: 10;
}
.menu {
	width: 700px;
	height: 70px;	
}
nav {
	display: inline-block;
	font-size: 20px;
	font-family: Oswald-Regular;
}
nav ul {
	list-style: none; 
	margin: 0;
	padding-left: 0; 
	margin-top: 15px; 
	margin-left: 50px;
}
nav a {
	text-decoration: none; 
	background: #FFFFFF; 
	color: #DC143C; 
	padding: 10px; 
	border-radius: 4px; 
	transition: all 1s linear 0.5s;
	vertical-align: middle;	
}
nav a:hover {
	background:#DC143C;
	color: #FFFFFF;
}
nav a:not (:hover) {
	background:#DC143C;
	color: #FFFFFF;
	transition: all 1s linear 0.5s;
}
nav li {
    display: inline-block; 
    margin-right:5px; 
}
.phone {
	display: inline-block;
	font-family: Oswald-Regular;
	width: calc(100% - 800px);
	text-align: right;	
}	
.phone a {
	font-size: 20px;
	font-stretch: black;
	vertical-align: middle;
	text-decoration: none; 
	color: #DC143C;
}
.container_menu button {
	width: 80px;
	height: 40px;
	display: inline-block;
	background: #DC143C;
	font-family: Oswald-Regular;
	color: #FFFFFF;
	font-size: 20px;
	border-radius:40px; 
	float: right;
	margin-top: 13px;
	cursor: pointer;
}
.container_menu button:hover {
	background:#FA8072;	
}
.container_menu button:not (:hover) {
	background:#DC143C;
	transition: all 1s linear 0.5s;
}
.shadow {
	box-shadow: 2px 2px 5px #BC8F8F; 
}

/*****************************************
BILBOARD*********************************/
.container_bilboard {
	height: 650px;
	margin-top: 75px;
	background-image: url(../img/bg_2.jpg);
	       
}
h1 {
	text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #DC143C;
    font-family: Barlow-Bold;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 0px;
    margin: 0px;
}
.text_title {
	text-align: center;
	font-size: 25px;
	color: #800000;
	font-family: Oswald-Regular;
}
.bxslider-container {
	position: absolute;
	top: 200px;
	z-index: 1;
}
.sl_1 {
	background-image: url(../img/sl_1.jpg);
}

.sl_2 {
	background-image: url(../img/sl_2.jpg);
}
.sl_3 {
	background-image: url(../img/sl_3.jpg);
}
.sl_4 {
	background-image: url(../img/sl_4.jpg);
}
.sl_5 {
	background-image: url(../img/sl_5.jpg);
}

/*****************************************
SERVICES*********************************/
.content {
	height: 400px; 
	text-align: center;
	padding-top: 30px;
	font-family: Oswald-Regular;	
}
.param {
	height: 220px;
	width: 390px;
	display: inline-block;
	margin-top: 30px;	
}
.logo {
	height: 110px;
	display: block;
	margin: auto; 
}
.title_small {
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	color: #DC143C;
	font-weight: bold;
	font-family: Oswald-Regular;
}
h2 {
	font-family: Oswald-Regular;
	color: #DC143C;
	text-align: center;
	text-transform: uppercase;
	display: block;
}
span {
	font-family: Oswald-Regular;
	display: block;
	text-align: center;
	color: #800000;
	padding: 10px;
}
/*****************************************
NOVELTY**********************************/
#novelty {
	text-align: center;
	padding-top: 15px;
	background: #DC143C;
}
.title_novelty {
	font-family: Oswald-Regular;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-size: 25px;
	padding-top: 30px;
	margin-bottom: 30px;
}
.block_novelty {
	width: 360px;
	background: #ffffff;
	margin: 30px 10px 70px 10px;	
	display: inline-block;
	padding: 10px;
}
.img_novelty {
	width: 340px;
	height: 270px;	
}
.nomber {
	height: 50px;
	font-family: Oswald-Regular;
	font-size: 20px;
	color: #FA8072;
	text-align: right;
	padding: 15px;
	border-bottom: 2px solid #FA8072;
}
.name {
	font-family: Oswald-Regular;
	font-size: 30px;
	color: #800000;
	text-align: left;
	text-transform: uppercase;
	padding: 15px;
	display: block;
}
.price {
	font-family: Oswald-Regular;
	font-size: 25px;
	color: #DC143C;
	text-align: left;
	text-transform: bold;
	padding: 0px 5px 0px 15px;
	display: inline-block;
	float: left;
}
.buy {
	display: inline-block;
	background: #DC143C;
	text-align: right;	
	color: #ffffff;
	font-size: 20px;
	padding: 5px 20px 5px 20px;
	margin-left: 100px;
}

/*****************************************
GALLERY**********************************/
#gallery {
	text-align: center;
	padding-top: 15px;
}
.block {
	width: 300px;
	background: #ffffff;
	margin: 0px 10px 50px 10px;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}
.img {
	width: 280px;
	height: 300px;	
}
.input_category {
	height: 50px;
	font-family: Oswald-Regular;
	background: #DC143C;
	font-size: 20px;
	color: #ffffff;
	margin: auto;
	padding: 10px;	
	text-transform: uppercase;
}
/*****************************************
ACTION***********************************/
.container_bilboard_action {
	height: 300px;
	background-image: url(../img/bg_action.jpg);
	padding-top: 20px;     
}
.text_action {
	text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    font-family: Oswald-Regular;
    text-transform: uppercase;    
    padding-bottom: 0px;
    margin: 0px;
}
.text_title_action {
	text-align: center;
	font-size: 25px;
	color: #ffffff;
	font-family: Oswald-Regular;
}
.button_action {
	width: 100%;
	height: 100px;
	margin-top: 30px;		
	display: inline-block;
	text-align: center;	
}
.button_action a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	font-family: Oswald-Regular;
	font-size: 20px;
	color: white; /*меняем цвет ссылок*/
	padding: 10px 40px 10px 40px; /*добавляем отступ*/
	background: #DC143C;
	border: 2px solid #ffffff;
	border-radius: 10px; /*добавляем скругление*/
	vertical-align: middle;
	text-transform: uppercase;
	
}
/*****************************************
MASTERCLASS******************************/
.text_title_masterclass {
	padding-top: 20px;
}
iframe {
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
.text_masterclass {
	width: 550px;
	font-family: Oswald-Regular;
	margin: auto;
	color: #800000;
	padding: 10px;
	margin-bottom: 50px;
}
/*****************************************
FEEDBACK*********************************/
#feedback {
	background: rgb(251, 239, 241);
}
.text_title_feedback {
	padding-top: 40px;
}
.container_feedback {
	text-align: center;
}
.input_feedback {
	height: 80px;
	width: 100%;
	display: inline-block;
	padding: 10px;
}
.input_feedback_2 {
	height: 240px;
	width: calc(100% - 660px);
	display: inline-block;
	padding: 10px;
}
.input_contact_feedback {
	padding: 15px;
	width: 350px;
	height: 60px;
	margin-right: 15px;
	margin-left: 15px;	
	font-family: Oswald-Regular;
	font-size: 20px;
	color: #848484;
	border-radius: 10px;
	border: 2px solid #FA8072;
}	
.textarea_feedback {
	height: 210px;
	width: 100%;
	resize: none;
	font-family: Oswald-Regular;
	font-size: 20px;
	color: #848484;
	padding: 15px;
	border-radius: 10px;
	border: 2px solid #FA8072;
}
.button_feedback {
	width: 100%;
	height: 100px;
	padding-top: 20px;
	color: white;	
}
.button_feedback a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	background: #DC143C;/*добавляем фон к пункту меню*/
	font-family: Oswald-Regular;
	font-size: 20px;
	color: white; /*меняем цвет ссылок*/
	padding: 10px 40px 10px 40px; /*добавляем отступ*/
	border-radius: 10px; /*добавляем скругление*/
	transition: all 0.2s linear 0.2s;
	vertical-align: middle;
	box-shadow: 2px 2px 5px #BC8F8F;
}
.button_feedback a:hover {
	background:#FA8072;/*добавляем эффект при наведении*/
	color: #FFFFFF;
}
.button_feedback a:not (:hover) {
	background:#DC143C;/*добавляем эффект при наведении*/
	color: #FFFFFF;
	transition: all 0.2s linear 0.2s;
}
/*****************************************
CONTACT**********************************/
.text_title_contact {
	padding-top: 20px;
}
.container_contact {
	text-align: center;
	padding-bottom: 50px;
	/**background: rgb(251, 239, 241);**/	
	padding-top: 20px;	 
}
.map {
	width: 500px;
	height: 400px;
	outline: 2px solid #FA8072; 
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.text_contact {
	width: 300px;
	height: 400px;
	display: inline-block;	
	vertical-align: bottom;
	vertical-align: middle;
	padding-top: 10px;
}
.select_text {
	width: 290px;
	font-family: Oswald-Regular;
	font-size: 20px;
	color: #800000;
	display: block;
	text-align: left;
}
.color_text {
	width: 290px;
	font-family: Oswald-Regular;
	font-size: 20px;
	color: #DC143C;
	display: block;
	text-align: left;
}
/*****************************************
FOOTER***********************************/
footer {
	width: 100%;
	height: 100px;
	background: #FA8072;
	font-family: Oswald-Regular;
	font-size: 15px;
	text-transform: uppercase;
	color: #800000;
	text-align: center;
	vertical-align: middle;	
	padding: 0px;
	border-top: 8px solid #DC143C;
}
.design {
	display: inline-block;
	padding: 15px 170px 20px 0px;
}
.icon {
	width: 300px;
	height: 70px;
	display: inline-block;
	padding-left: 20px;		
}
.icon_footer {
	height: 25px;
	margin-top: 35px;
	margin-right: 20px;
}
.menu_footer {
	display: inline-block;
	padding: 15px 0px 20px 100px;	
} 
footer a {
	color: #800000;
	text-decoration: none;
	transition: all 0.5s linear 0.5s;
	margin-left: 30px;
}
/**footer a:hover {
	color: #FFFFFF;
}
footer a:not (:hover) {
	color: #800000;
	transition: all 0.5s linear 0.5s;
}