@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
	--main-color: #709dca;
	--dark-color: #376695;
}
.active {
	background-color: var(--dark-color);
}
html {
	height: 100%;
}


body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	font-family: 'Exo 2';
	font-size: 1.1rem;
	color: #515457;
	overflow-x: hidden;
	/*max-width: 3000px;*/
	/*overflow-y: auto;*/
}
a {
	text-decoration: none;
	font-weight: normal;
}
p {
	font-weight: normal;
}
h1 {
	font-weight: bold;
}
h2 {
	/*border: 3px solid gray;*/
	display: block;
	align-self: flex-start;
	margin: 25px auto 40px auto;
}
h3 {
	padding: 5px 0;
}

.all {
	/*border: 1px solid #000;*/
	display: block;
	margin-top: 15px;
	font-size: larger;
	align-self: center;
}
/*шапка*/


header {
/*border: 2px solid gray;*/
background: #e7edf3;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 10px 10px 10px;
height: 70px;
}
.header-text {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.logo {
display: flex;
align-items: center;
}
header img {
/*border: 2px solid gray;*/
display: block;
width: 50px;
}
header h1 {
/*border: 2px solid gray;*/
display: block;
font-size: 1.6rem;
font-family: 'Exo 2', serif;
color: #2a4689;
text-decoration: underline;
margin-left: 15px;
}
header .tel {
/*border: 2px solid gray;*/
display: flex;
/*align-items: flex-end;*/
/*margin-left: auto;*/
color:  var(--main-color);
font-size: 1.4rem;
/*position: relative;*/
}
header .tel:before {
/*border: 1px solid gray;*/
content: "";
display: inline-block;
margin-right: 5px;
width: 1.4rem;
height: 1.4rem;
background-image: url(../images/phone.svg);
background-repeat: no-repeat;
background-size: contain;

}
header .tel:hover {
color: var(--dark-color);
}

/*панель навигации*/

/*контейнер со всей навигацией*/

.nav {
/*border: 3px solid orange;*/
position: sticky;
top: 0;
z-index: 9;
}

/*флажок*/

.checkbox {
display: none;
}

/*label значок меню*/

.checkbox-menu {
display: none;
}

/*навигационная панель*/

nav {
/*border: 5px solid green;*/
box-shadow: 0px 3px 15px 0px rgba(0,0,0, 0.5);
background-color: #709dca;
}
nav ul {
/*border: 5px solid violet;*/
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
font-family: 'Exo 2', arial, sans-serif;
font-size: 0.8rem;
text-transform: uppercase;
}
nav ul li {
/*border: 2px solid yellow;*/
width: calc(100%/9); /*поделить на количество пунктов меню+2*/
height: 45px;
}

nav ul li a {
/*border: 2px solid gray;*/
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: white;
height: 100%;
padding: 3px 10px;
transition: background 0.3s ease-in 0s;
position: relative;
user-select: none;
}
/*границы в навигации*/

nav ul li a:hover, nav ul li a.active {
background-color: rgb(55, 102, 149);
}

nav ul li:not(:last-of-type) {
border-right: 1px solid rgba(255, 255, 255, 0.2);
}
nav ul li:not(:first-of-type) {
border-left: 1px solid rgba(0, 0, 0, 0.2);
}



/*контент*/


main {
	/*border: 5px solid blue;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	/*min-height: calc(100vh - 100px);*/
	width: 100%;
	/*margin: 0 auto;*/
	background-color: #e7edf3;
}
.topimg {
	height: 82vh;
	background-image: url(../images/bgimg3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #709dca;
	background-blend-mode: luminosity;
	position: relative;
	height: calc(100vh - 115px);
	/*filter: blur(2px) opacity(0.8) brightness(95%);*/
}
.topimg1 {
	/*content: 'Более 10 лет управляем многоквартирными домами';*/
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	top: 0;
	right: 10vw;
	bottom: 0;
	left: 10vw;
	background: rgba(47, 60, 76, 0.7);
	/*filter: blur(2px) opacity(0.8) brightness(95%);*/
}
.topimg1 h1 {
	display: block;	
	margin: 20px;
	font-size: calc(.028 * 100vw + 15px);
}
.topimg1 h3 {
	display: block;
	font-size: calc(.01 * 100vw + 10px);	
}
button {
	margin-top: 50px; 
	background-color: rgb(235,162,0);
	border-radius: 50px;
	width: 220px;
	height: 70px;
	border: 0;
}
button:hover {
	transform: translateY(-2px);
	background-color: rgb(253,180,16);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
button a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;	
	text-shadow: 1px 1px 1px rgb(202, 142, 2);
	font-size: 22px;
	font-weight: bold;
}
main section {
	/*border: 5px solid green;	*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	padding: 25px 10vw;
	border-top: 1px solid rgba(112, 157, 202, 0.5);
}

section span {
	display: block;
	text-align: center;
	padding: 15px;
}

	/*Услуги*/

#services {
	padding-top: 50px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 25px 5vw;
}
.service-container {
	/*border: 1px solid red;*/
	width: 200px;
	padding: 10px;
	text-align: center;
}
.service-container p {
	padding-top: 20px;
	font-size: 14px;
}
.service-img {
	/*border: 1px solid #000;*/
	text-align: center;
	min-width: 100px;
	height: 110px;
}
#services img {
	height: 100%;
}
	
	/*О компании*/
#info {
	background-color: #e7edf3;
	/*padding: 0 50px;*/
}


	/*Кнопка наверх*/
:root {
	--arrow-size: 3; /*Коэффициент, меняющий размер стрелки, выводящей на начало страницы*/
}
a.to-the-top {
	display: block;
	align-self: flex-end;
	width: calc(var(--arrow-size) * 20px);
	height: calc(var(--arrow-size) * 20px);
	border: calc(var(--arrow-size) * 1.5px) solid rgba(55, 102, 149, 0.4);
	padding-top: calc(var(--arrow-size) * 4px);
	border-radius: 50%;
	z-index: 8;
	position: sticky;
	top: calc(100vh - 120px);
	right: 60px;
	/*right: 90vw;*/
	/*box-shadow: 2px 2px 5px gray;*/
}
div.to-the-top {
	margin: auto;
	width: 0;
	border-width: 0 calc(var(--arrow-size) * 5px) calc(var(--arrow-size) * 4px);
	border-style: solid;
	border-color: transparent transparent rgba(55, 102, 149, 0.4);
}
a.to-the-top:hover div.to-the-top {
	border-color: transparent transparent rgba(55, 102, 149, 0.6);
}
a.to-the-top:hover {
	border-color: rgba(55, 102, 149, 0.6);
}

	/*Объявления*/
#advert {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(55, 102, 149, 0.05);
}
.advert-item {
	width: 100%;
	margin-bottom: 40px;
}
#advert>div {
	border: 2px solid rgba(55, 102, 149, 0.9);
	padding: 15px;
}

.advert-item a {
	text-decoration: underline;
}
.advert-t {

}
.advert-t img {
	width: 80px;
}
	
	/*Дома*/
#houses {
	background-color: #e7edf3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	font-size: 1rem;
}
div.houses-container {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-around;
}

div.houses-img {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
}
div.houses-img p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	text-indent: 0;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	color: white;
	text-shadow: 1px 1px 0 gray;
	/*vertical-align: bottom;*/
	/*border: 1px solid #000;*/
}
div.houses-img div {
	background-color: rgb(253,180,16);
	margin-bottom: 25px;
	width: 240px;
	/*overflow: hidden;*/
	/*border: 1px solid var(--dark-color);*/
	transition: 0.2s;
}
div.houses-img div:hover {
	/*transform: scale(1.02);*/
	transform: translateY(-2px);
	box-shadow: 1px 1px 2px gray;
}
div.houses-img img {
	display: block;
	/*margin: 0 auto 10px auto;*/
	width: 100%;
	height: 160px;
}

	/*Тарифы*/

#tariffs {
	background-color: rgba(236, 242, 248, 0.5);

}
	
	/*Контакты*/

#contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
	padding-left: 3vw;
	padding-right: 3vw;
	background-color: rgba(47, 60, 76, 1);
	color: whitesmoke;
}
#contacts h2 {
	/*color: whitesmoke;*/
	/*font-size: 22px;*/
}
#contacts li {
	margin: 10px;
	list-style-type: none;
}

#contacts a {
	color: whitesmoke;
}
#contacts a:hover {
	color: #709dca;
	/*text-shadow: 0px 0px 2px whitesmoke;*/
}
.form-contacts-container {
	/*border: 1px solid #000;*/
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	width: 100%;
}
.contacts {
	/*border: 1px solid white;*/
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
	flex: 1 1 550px;
	max-width: 80%;
	margin: 10px 5px;
	}
.contacts li {
	/*border: 1px solid green;*/
	display: flex;
	flex-basis: 1;
	/*width: 200px;*/
	/*height: 120px;*/
}
.contacts li a {
	/*border: 1px solid red;*/
	display: block;
	text-align: center;
	font-size: 14px;
	/*width: 100px;*/
}
.contacts .address {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.contacts .address .fas {
	margin: 10px;
	font-size: 30px;
}
.contacts td, .contacts th {
	/*border: 1px solid #000;*/
	text-align: left;
	padding: 5px;
	font-size: 14px;
}
.contacts .hours {
	flex-direction: column;
	/*align-items: center;*/
}
.contacts .hours li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.fa-clock {
	font-size: 35px;
	margin: 10px;
	/*align-items: flex-end;*/
}

/*секция перед картой - форма и контакты*/
		/*Форма*/
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 auto;
	max-width: 550px;
	height: 100%;
	margin: 10px;
	padding: 0px;
	background-color: var(--dark-color);
	border-radius: 3px;
	font-size: 16px;
}
form p {
	margin: 10px 5px;
}

.form-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.form-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	color: white;
}

input {
	width: 210px;
	height: 30px;
	border: 0;
	border-radius: 3px;
	font-size: 16px;
}
.text {
	width: 210px;
	height: 170px;
	border: 0;
	border-radius: 3px;
	font-size: 16px;
}
input[type="submit"] {
	width: 150px;
	height: 50px;
	margin-top: 10px;
	background-color: rgb(253,180,16);
	color: white;
	font-size: 16px;
}
input[type="submit"]:hover {
	background-color: rgb(235,162,0);
}


div.yandex {
	width: 100%;
	height: 400px;
	padding-left: 20px;
}
div.contacts1 {
	/*border: 1px solid #000;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	}
div.contacts1 a {
	color: #515457;
}
div.contacts1 a:hover {
	text-decoration: underline;
}
div.contacts1 div {
	/*border: 1px solid #000;*/
	/*width: 300px;*/
	text-align: center;
	margin-bottom: 20px;
}
div.address1 {
	/*border: 1px solid #000;*/
	display: flex;
	flex-wrap: wrap;
	margin: 10px 20px;
}
div.address1 ul {
	width: 250px;
	text-align: left;
	font-size: 14px;
}
div.address1 ul.hours {
	width: 170px;
	/*border: 1px solid #000;*/
}
div.yandex1 {
	max-width: 450px;
	height: 500px;
	margin: 50px 20px;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	margin-top: auto;
	background-color: black/*rgb(38, 38, 38)*/;
	font-size: 12px;
	color: white;
}

 /*Страница с контактами*/
.recs {
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 70px 0 70px 40px;
}
.recs table {
	/*display: flex;*/
	margin: 20px;
	font-size: 14px;
}
.recs table tr {
	/*display: flex;*/
}
.recs table td {
	border: 1px solid #000;
	padding-right: 20px;
	text-align: left;
}
.recs ul li {
	list-style: none;
}



/*адаптация*/


@media screen and (max-width: 1024px) {
	nav ul li {
		/*border: 2px solid yellow;*/
		width: calc(100%/7); /*поделить на количество пунктов меню*/
	}
	header img {
		/*border: 2px solid gray;*/
		width: 45px;
	}
	header h1 {
		font-size: 1.3rem;
	}
	header .tel {
		font-size: 1.2rem;
	}
	header .tel:before {
		/*border: 1px solid gray;*/
/*		margin-right: 5px;*/
		width: 1.2rem;
		height: 1.2rem;
	}
	nav ul {
	font-size: 0.75rem;
	}
	.topimg {
	/*height: 60vh;*/
	}

	/*подвал планшет*/

	div.contacts {
		/*width: 100%;*/
		/*flex-direction: column;*/
		/*align-items: center;*/
		}

	div.address {
		/*width: 100%;*/
		/*border: 1px solid #000;*/
	}
	
	#contacts .yandex {
		width: 100%;
		height: 300px;
		padding-left: 0;
	}
}

@media screen and (max-width: 640px) {
	body {
		font-size: 0.9rem;
	}

	/*шапка*/
	header {
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
	}
	/*логотип*/
	header img {
		/*border: 2px solid gray;*/
		width: 45px;
	}
	header h1 {
		font-size: 15px;
		margin-left: 3px;
		/*border: 1px solid #000;*/
	}
	.header-text {
		/*border: 1px solid #000;*/
		flex-direction: column;
		align-items: flex-end;
		width: auto;
	}
	header .tel:before {
		/*border: 1px solid gray;*/
		margin-right: 3px;
		/*margin-left: 0;*/
		/*border: 1px solid red;*/

	}
	.topimg {
		height: calc(100vh - 70px);
	}
	.topimg1 h1 {
		/*font-size: 1.8rem;*/
	}
	/*панель навигации*/

		/*контейнер со всей навигацией*/

	.nav {

/*		border: 3px solid orange;*/

		}

		/*флажок*/

	.checkbox {
		display: none;
	}

		/*label значок меню*/

	.checkbox-menu {
		display: block;
		width: 40px;
		height: 40px;
		position: fixed;
		left: 20px;
		top: 15px;
		padding: 4px;
		background-color: rgba(55, 102, 149, 0.8);
		background-image: url(../images/menu1.svg);
		background-repeat: no-repeat;
		background-size: 70%;
		background-position: center center;
		border-radius: 3px;
		cursor: pointer;
		z-index: 10;
		/*filter: drop-shadow(3px 0px 2px 0px rgba(255, 255, 255, 1));*/
	}
	.checkbox-menu:hover {
		background-color: rgba(55, 102, 149, 1);	
	}

		/*навигационная панель*/
		
	nav {
		/*border: 5px solid green;*/
		width: 270px;
		height: 120%;
		position: fixed;
		top: 0;
		/*bottom: 0;*/
		left: -270px;
		box-shadow: 3px 0px 15px 0px rgba(0,0,0, 0.5);
		transition: left 0.3s;
		overflow: auto;
	}
	nav ul {
		/*border: 5px solid violet;*/
		margin-top: 27px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		font-size: 0.8rem;
		text-transform: uppercase;
	}
	nav ul li:not(:last-of-type) {
		border-right: 0;
	}
	nav ul li:not(:first-of-type) {
		border-left: 0;
	}
	nav ul li {
		/*border: 2px solid yellow;*/
		width: auto;
		/*height: 45px;	*/
	}
	nav ul li:not(:first-child) {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
	nav ul li:first-child {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0 -27px 0 0 rgba(0, 0, 0, 0.2);
	}

	nav ul li:last-child:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	nav ul li {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	/*панель навигации при нажатии*/
	/*кнопка меню -крестик*/

	.checkbox:checked + .checkbox-menu {
		/*border: 1px solid #000;*/
		width: 100vw;
		height: 120%;
		left: 270px;
		top: 0px;
		background-image: url(../images/cross.png);
		background-color: rgba(0, 0, 0, 0.6);
		background-size: 20px;
		background-position: 5px 3px;
		transition: left 0.3s;
	}

	/*само меню*/

	.checkbox:checked ~ nav {
		left: 0;
	}

	/*дома моб*/

	div.houses-img div {
		width: 90%;
	}
	div.houses-img img {
		width: 100%;
		height: auto;
	}

	div.yandex1 {
		margin: 50px;
		width: 100%;
		height: 300px;
	}
	
	/*Форма*/
	form {
		max-width: 300px;
	}
	/*подвал моб*/



	div.address {
		/*flex-direction: column;*/
	}
	

	#contacts .yandex {
		width: 100%;
		height: 300px;
	}


}