body{
	background:url(img/wp3076618.jpg);
	    background-repeat: no-repeat;
	        background-position:center center;
	            background-size:cover;
	            height: 100%;
}

.заглавие1{
	display: grid;
	justify-content: center ; 
	align-items : center
	width:100%;
  font: 100 40px/50px Circe,Arial,sans-serif;
}
.Гайды{
	color: #fff;
}
.conteiner{
	display: grid;
	justify-content: center ; 

	width: 100%;
	height: 100vh;
	grid-template-columns:300px 300px 300px;

		grid-gap: 100px;
	grid-template-areas: 
	"item1 item2 item3"
	"item4 item5 item6"

}
.item1{grid-area: item1;}
.item2{grid-area: item2;}
.item3{grid-area: item3;}
.item4{grid-area: item4;}
.item5{grid-area: item5;}
.item6{grid-area: item6;}


.item1{
width: 97%;
height: 70%;
border-radius: 20px;
background:url(img/wow__mage.png);
background-repeat: no-repeat;
background-position:center center;
background-size:cover;
transition: 0.7s;
filter: drop-shadow(10px 10px 10px rgba(60,9,78,0.9));
}
.item2{
width: 97%;
height: 70%;
border-radius: 20px;
background:url(img/wow__death_knight.png);
background-repeat: no-repeat;
background-position:center center;
background-size:cover;
transition: 0.7s;
filter: drop-shadow(10px 10px 10px rgba(12,16,49,0.9));
}
.item3{
width: 97%;
height: 70%;
border-radius: 20px;
background:url(img/wow__warrior.png);
 background-repeat: no-repeat;
background-position:center center;
background-size:cover;
transition: 0.7s;
filter: drop-shadow(10px 10px 10px rgba(215,130,40,0.9));
}
.item4{
width: 97%;
height: 70%;
border-radius: 20px;
background:url(img/wow__paladin.png);
background-repeat: no-repeat;
background-position:center center;
background-size:cover;
transition: 0.7s;
filter: drop-shadow(10px 10px 10px rgba(243,230,129,0.9));
}
.item5{
width: 97%;
height: 70%;
border-radius: 20px;
background:url(img/hunterlogo.jpg);
background-repeat: no-repeat;
 background-position:center center;
 background-size:cover;
 transition: 0.7s;
 filter: drop-shadow(10px 10px 10px rgba(233,182,129,0.9));
}
.item6{
width: 97%;
height: 70%;
border-radius: 20px;
background:url(img/wow__shaman.png);
background-repeat: no-repeat;
background-position:center center;
 background-size:cover;
 transition: 0.7s;
 filter: drop-shadow(10px 10px 10px rgba(85,47,7,0.9));
}
.item1:hover{
   transform: scale(1.3);

border-radius: 50%;
}.item2:hover{
   transform: scale(1.3);

border-radius: 50%;
}.item3:hover{
   transform: scale(1.3);

border-radius: 50%;
}.item4:hover{
   transform: scale(1.3);

border-radius: 50%;
}.item5:hover{
   transform: scale(1.3);

border-radius: 50%;
}.item6:hover{
   transform: scale(1.3);

border-radius: 50%;
}
@media screen and (max-width: 639px){
	body{
	background:url(img/news_background_wow.jpg);
	    background-repeat: no-repeat;
	        background-position:center center;
	            background-size:cover;
	            height: 600vh;

}
	.conteiner{
		display: grid;
			grid-template-columns:3fr;
 		 	grid-auto-rows: 80%;
 		 		grid-gap: 0;
			grid-template-areas: 
	"item1 "
	"item2"
	"item3"
	"item4"
	"item5"
	"item6"
	}
}
